<!DOCTYPE html>
<html lang="en">
@@include('./include/head.html')
<body>
    @@include('./include/header.html')
    <div class="musthead">
        <div class="wrapper">
            <h1>Film your event with us!</h1>
            <p>Pellentesque eget nunc sit amet urna ullamcorper fermentum et eu leo.
                <br>
                Nunc vel nibh tempor, pharetra lectus congue, luctus orci.
            </p>
            <div class="musthead-btns">
                <a class="btn ask-for-price" href="">Ask for price</a>
                <a class="btn watch-video" href=""><span class="icon-play"></span>Watch video</a>
            </div>
            <div class="musthead-scroll">
                <img src="./images/mouse.png" alt="">
                <p class="scroll-text">scrool down</p>
            </div>
        </div>
    </div>




    @@include('./include/footer.html')
</body>
</html>