<!DOCTYPE html>
<html lang="en">
@@include('./include/head.html')
<body>
    @@include('./include/header.html')
    <div class="musthead">
        <div class="wrapper">
            <h1>Film your event with us!</h1>
            <p>Pellentesque eget nunc sit amet urna ullamcorper fermentum et eu leo.
                <br>
                Nunc vel nibh tempor, pharetra lectus congue, luctus orci.
            </p>
            <div class="musthead-btns">
                <a class="btn ask-for-price" href="">Ask for price</a>
                <a class="btn watch-video" href=""><span class="icon-play"></span>Watch video</a>
            </div>
            <div class="musthead-scroll">
                <img src="./images/mouse.png" alt="">
                <p class="scroll-text">scrool down</p>
            </div>
        </div>
    </div>
    <div class="main-features">
        <div class="wrapper">
            <div class="all-features">
                <div class="feature">
                    <img src="./images/from-air.png" alt="">
                    <p class="feature-name">From air</p>
                    <p class="feature-description">Pellentesque eget nunc sit
                        <br>
                        amet urna ullamcorper fermen-
                        <br>
                        tum et eu leo.</p>
                </div>
                <div class="feature">
                    <img src="./images/best-drones.png" alt="">
                    <p class="feature-name">Best drones</p>
                    <p class="feature-description">Pellentesque eget nunc sit
                        <br>
                        amet urna ullamcorper fermen-
                        <br>
                        tum et eu leo.
                    </p>
                </div>
                <div class="feature">
                    <img src="./images/speed.png" alt="">
                    <p class="feature-name">Speed</p>
                    <p class="feature-description">Pellentesque eget nunc sit
                        <br>
                        amet urna ullamcorper fermen-
                        <br>
                        tum et eu leo.
                    </p>
                </div>
                <div class="feature">
                    <img src="../images/long-range.png" alt="">
                    <p class="feature-name">Long range</p>
                    <p class="feature-description">Pellentesque eget nunc sit
                        <br>
                        amet urna ullamcorper fermen-
                        <br>
                        tum et eu leo.
                    </p>
                </div>
            </div>
            <div class="features-blue-button">
                <a class="ask-for-price-blue btn"href="#">Ask for price</a>
            </div>
        </div>
    </div>
    <div class="large-drone">
        <div class="wrapper">
            <h2 class="section-name">Nature from the air</h2>
            <p class="section-description">Mauris consequat libero metus, nec ultricies sem efficitur quis. Integer bibendum 
                <br>
                eget metus ac accumsan. Integer sit amet lacus egestas, semper est quis, viverra ex.
            </p>
            <div class="list">
                <div class="list-item">
                    <div class="item-number">1</div>
                    <div class="item-description">
                        Pellentesque eget nunc sit amet urna ullamcorper fermentum 
                        <br>
                        et eu leo. Nunc vel nibh tempor, pharetra lectus congue, 
                        <br>
                        luctus orci.
                    </div>
                </div>
                <div class="list-item">
                    <div class="item-number">2</div>
                    <div class="item-description">
                        Pellentesque eget nunc sit amet urna ullamcorper fermentum 
                        <br>
                        et eu leo. Nunc vel nibh tempor, pharetra lectus congue, 
                        <br>
                        luctus orci.
                    </div>
                </div>
                <div class="list-item">
                    <div class="item-number">3</div>
                    <div class="item-description">
                        Pellentesque eget nunc sit amet urna ullamcorper fermentum 
                        <br>
                        et eu leo. Nunc vel nibh tempor, pharetra lectus congue, 
                        <br>
                        luctus orci.
                    </div>
                </div>
                <div class="list-item">
                    <div class="item-number">4</div>
                    <div class="item-description">
                        Pellentesque eget nunc sit amet urna ullamcorper fermentum 
                        <br>
                        et eu leo. Nunc vel nibh tempor, pharetra lectus congue, 
                        <br>
                        luctus orci.
                    </div>
                </div>
                <div class="list-item">
                    <div class="item-number">5</div>
                    <div class="item-description">
                        Pellentesque eget nunc sit amet urna ullamcorper fermentum 
                        <br>
                        et eu leo. Nunc vel nibh tempor, pharetra lectus congue, 
                        <br>
                        luctus orci.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="half-pic-block-left">
        <div class="wrapper">
            <div class="section-box">
                <h2 class="section-name">Nature from the air</h2>
                <p class="section-description">Pellentesque eget nunc sit amet urna ullamcorper fermentum et eu leo. Nunc vel nibh tempor, pharetra lectus congue, luctus orci nec ultricies sem efficitur quis. Integer bibendum eget metus ac accumsan.
                </p>
                <a class="btn ask-for-price-blue" href="#">Ask for price</a>
            </div>
        </div>
    </div>
    <div class="half-pic-block-right">
        <div class="wrapper">
            <div class="section-box">
                <h2 class="section-name">City from the air</h2>
                <p class="section-description">Mauris consequat libero metus, nec ultricies sem efficitur quis. Integer bibendum eget metus ac accumsan. Integer sit amet lacus egestas, semper est quis, viverra ex. Pellentesque eget nunc sit amet urna ullamcorper fermentum et eu leo.
                </p>
                <a class="btn ask-for-price-blue" href="#">Ask for price</a>
            </div>
        </div>
    </div>
    <div class="submit-form">
        <div class="wrapper">
            <h2>Sign up for our newsletters</h2>
            <form action="/">
                <input class="contact-form-email" type="text" placeholder="Email adress">
                <input class="contact-form-send" type="submit" value="Send">                
            </form>
        </div>
    </div>
    <div class="map">
        <h3>My Google Maps Demo</h3>
        <div id="map"></div>

        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDT9DWTOG4lBEPeeJgFjQ7pyAMguDYRS7k&callback=initMap">
        </script>    
    </div>


    @@include('./include/footer.html')
</body>
</html>