<header>
    <div class="wrapper">
        <div class="logo">
            <a href=""><i>drone</i>Zone</a>
        </div>
        <nav>
            <ul class="logo-menu">
                <li><a href="">home</a></li>
                <li><a href="">about</a></li>
                <li><a href="">pricing</a></li>
                <li><a href="">our drones</a></li>
                <li><a href="">our realizations</a></li>
                <li><a href="">contacts</a></li>
            </ul>
        </nav>
    </div>
</header>